body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans',sans-serif;
    background:#f4f4ef;
    }
    
    .col{
        align-items: center;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        margin: 80px;
        margin-left: 35%;
        
        width: 30%;
        border: 3px solid black;
        position: relative;
    }

    .table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      .table td, .table th {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
      }
      

      .table th {
        padding: 12px;
        text-align: left;
        text-align: center;
        background-color: rgb(133, 141, 133);
        color: white;
      }